.campaign{
font-family: $font;


&-content-image{
    position: relative;
    padding-top: 8.8rem;
}


    &-container{
        display: flex;
    }

    &-heading{
        margin: 12rem auto 1rem 0;
        max-width: 38rem;
        height: 11.2rem;
        font-weight: 600;
        font-size: 4.6rem;
        line-height: 5.6rem;
        letter-spacing: -0.015em;
        color: $primary-color-dark;
    }

    &-text{
        margin-left: 0;
        margin-bottom: 2rem;
        width: 333px;
        height: 60px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: $text-color;
    }

    

    &-item{
        display: flex;
        align-items: center;

        &-img{
            margin: 0;
        }

        &-heading{
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 3.6rem;
            letter-spacing: -0.01em;
            color: #071440;

        }
        &-list{
            margin-bottom: 2rem;
        }

        &-active{
            max-width: 520px;
            height: 134px;
            left: 760px;
            top: 414px;

            background: #FFFFFF;
            box-shadow: 0px 30px 120px -26px rgba(0, 0, 0, 0.09);
            border-radius: 10px;
        }
    }

    &-extra{
        &-1{
            position: absolute;
            z-index: 1;
            right: -4.4%;
            top: 2%;
        }

        &-2{
            position: absolute;
            z-index: 1;
            bottom: 1.8%;
            right: -0.6%;
        }

        &-3{
            position: absolute;
            z-index: 1;
            bottom: 14.1%;
            left: 10%;
        }

        &-4{
            position: absolute;
            z-index: 1;
            top: 43.5%;
            right: 49.8%;
        }
    }

   
    @media screen and (max-width: 1023.98px) {
        .campaign-container{
            flex-direction: column;
        }

        &-main{
        margin-left: 4.7rem;
        }

        &-extra-1{
            right: -10.4%;
            top: 2%;
        }

        &-extra-2{
            right: -7.6%;
        }

        &-extra-3{
            right: 61.6%;
            bottom: 12%;

        }
        &-extra-4{
            right: 41.8%;
        }

        &-heading{
            margin: 0 auto;
            max-width: 40rem;
            height: 11.2rem;
            text-align: center;
            font-weight: 600;
            font-size: 3.4rem;
            line-height: 5.6rem;
        }

        &-text{
            font-size: 1.6rem;
            text-align: center;
            margin:  1rem auto;
        }
        }

        @media screen and (max-width: 767px) {
            &-main{
                margin-left: 2.5rem;
            }

            &-extra{
                &-1{
                    right: -5.4%;
                    top: 16.6%;
                    max-width: 49%;
                }

                &-2{
                    right: -3.5%;
                    max-width: 39%;
                    bottom: 5%;
                }

                &-3{
                    right: 61.6%;
                    bottom: 12%;
                    max-width: 17%;
                }

                &-4{
                    right: 39.8%;
                    width: 16%;
                    top: 50%;
                }
            }
            
            
        }

        @media screen and (max-width: 768px) {
            &-heading{
                font-size: 3rem;
                line-height: 5rem;
            }
            }
        
}