.feature{
    padding-top: 8.3rem;
    font-family: $font;
    &-list{
        display: flex;
    }

    &-content{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    &-image{
        position: relative;
        margin-bottom: 10rem;
        margin-top: 9rem;
    }

    &-image-extra{
        position: absolute;
        z-index: 12;
        top: -15%;
        right: -30%;
    }

    &-image-extra-mid{
        position: absolute;
        left: -25%;
        top: 0;
    }

    &-image-mid{
        right: 19%;
        top: 65%;
    }
    

    &-heading{
        max-width: 499px;
        margin-left: 0;
        margin-bottom: 2rem;
        height: 112px;
        font-weight: 600;
        font-size: 4.6rem;
        line-height: 5.6rem;
        letter-spacing: -0.015em;
        color: $primary-color-dark;
    }

    &-text{
        margin-bottom: 4rem;
        margin-left: 0;
        width: 317px;
        height: 90px; 
        left: 806px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: $text-color;
    }

    &-button{
        margin-left: 0;
    }

    &-search{
        margin-left: 0;
        margin-bottom: 4rem;
    }

    &-check{
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 2rem;
    }

    .search-text{
        margin-right: 2rem;
    }

    
   


    @media screen and (max-width: 1024px) {
        &-list{
            flex-direction: column;
        }
        &-image{
            max-width: 58rem;
        }

        &-heading{
            font-size: 4rem;
        }

        &-text{
            height: 10rem;
        }

        &-button{
            margin: 0 auto 4rem auto;
        }
    }

   @media screen and (max-width: 1023.98px) {
    
        &-list{
            flex-direction: column;
            margin: 0 auto;
        }

        &-image-extra{
            width: 52%;
            top: -13%;
            right: -17%;
        }
    
   }

   @media screen and (max-width: 767px) {
    .feature-list{
        margin: 0 auto;
    }

    .feature-content{
        text-align: center;
    }
    
    .feature-text{
        margin-right: 0;
    }

    .feature-image-main{
        max-width: 100%;
        margin: 0;
    }

    .feature-image-extra{
        top: -15%;
        max-width: 50%;
        right: -14%;
    }

    &-heading{
        margin-bottom: 2rem;
        height: 112px;
        font-weight: 600;
        font-size: 3.6rem;
        line-height: 4.6rem;
        max-width: 38rem;
    }

    .feature-image-extra-mid{
        left: 30%;
        top: 85%;
        width: 50%;
    }

    &-text{
        margin-bottom: 2.1rem; 
        font-size: 17px;
        line-height: 27.9px;
    }
    }
   
    

    
    
}